<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.Customer">


        <!-- 
            Dynamic grid class, simply state the template column amount to be repeated in the inline styling.
            We use it here since we will add more buttons later as we develop the application.
         -->
        <div class="grid" style="--columns: 3;">
            <label class="page-title">{{mg.getValue(mgc.CustomerName)}} Customer File</label>

            <button class="nav-button" (click)="ToggleSelected('CustomerDetails')" [magic]="mgc.bCustomerDetails"
                id='CustomerDetails' [disabled]="mg.isDisabled(mgc.bCustomerDetails)">
                Customer Details
            </button>

            <button class="nav-button" (click)="ToggleSelected('CustomerName')" [magic]="mgc.bCustomerName"
                id='CustomerName' [disabled]="mg.isDisabled(mgc.bCustomerName)">
                Customer Name
            </button>
        </div>

        <hr>

        <magic-subform [magic]="mgc.sCustomerDetails">
        </magic-subform>

        <div class="buttons-container always-bottom">
            <button class="action-button cancel-button" [magic]="mgc.bCancel">
                Exit
            </button>
        </div>
    </div>
</div>