<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.CustomerName">
        <div class="d-flex justify-content-evenly">
            <mat-form-field appearance="outline">
                <mat-label>Customer Name</mat-label>
                <!-- 
                Add to the input:
                1. oninput="this.value=this.value.replace(/[^0-9]/g,'')" 
                Will only allow to input numbers
                2. oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'')"
                Will only allow to input english text
                3. oninput="this.value=this.value.replace(/[^a-zA-Z\u0590-\u05FF\s]/g,'')"
                Will only allow to input english and hebrew text
                  -->
                <input matInput type='text' [magic]="mgc.vName" [formControlName]="mgc.vName" mgFormat maxlength="100"
                    oninput="this.value=this.value.replace(/[^a-zA-Z\u0590-\u05FF\s]/g,'')">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Customer Parent</mat-label>
                <div class="LookUpDiv"></div>
                <input matInput type='text' [value]="mg.getValue(mgc.ParentName)" mgFormat readonly>
                <span class="LookUpSpan" [magic]="mgc.bSelectParent">
                    <i class="fa fa-search"></i>
                </span>
            </mat-form-field>

            <button class="action-button" [magic]="mgc.bSave">
                Save
            </button>
        </div>
    </div>
</div>