<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.SelectCustomer">
        <div class="row">
            <div class="col-4">
                <div class="searchbox-container">
                    <i class="fa fa-search"></i>
                    <input matInput type='text' matInput [magic]="mgc.vSearch" [formControlName]="mgc.vSearch" mgFormat
                        placeholder="Search..." class="InputSize" [pollTime]="400">
                </div>
            </div>
        </div>


        <div class="table-wrapper">

            <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                (matSortChange)="tableService.sortData($event)">
                <ng-container [magic]="mgc.cName" [matColumnDef]="mgc.cName">
                    <mat-header-cell *matHeaderCellDef class="col-8">
                        Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-8">
                        <div *ngIf="mg.ifRowCreated(row)">
                            {{mg.getValue(mgc.CustomerName, row.rowId) }}
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.cActive" [matColumnDef]="mgc.cActive">
                    <mat-header-cell *matHeaderCellDef class="col-2">
                        Active
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-2">
                        <div *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <mat-checkbox [magic]="mgc.Active" [rowId]="row.rowId" [formControlName]="mgc.Active">
                                </mat-checkbox>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                    <mat-header-cell *matHeaderCellDef class="col-2 cActions">
                        Select
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer" class="col-2 cBtn">
                        <div *ngIf="mg.ifRowCreated(row)">
                            <button class="tbl_btn" [magic]="mgc.bSelect" [rowId]="row.rowId" [matTooltip]="'Select'"
                                [disabled]="mg.isDisabled(mgc.bSelect, row.rowId)">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                    [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                    (click)="row? tableService.selectRow(row.rowId) : null">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="15" (page)="tableService.mgOnPaginateChange($event)">
            </mat-paginator>
        </div>

        <div class="buttons-container my-2">
            <button class="action-button cancel-button" accesskey="c" [magic]="mgc.bCancel">
                Cancel
            </button>
        </div>
    </div>
</div>