:root {
  --mainColor: rgb(42, 42, 53);
  --mainHover: rgb(81, 81, 82);
  --action-button-bg: var(--mainColor);
  --action-button-color: #fff;
  --disabled-action-button-color: #EDEDED;
  --disabled-action-button-bg: #B8B8B8;
  --table-border-radius: 0.5vw;
  --overlaybar-bg: var(--mainColor);
  --checkbox-bg: var(--mainColor);

  --page-title: #B8B8B8;
  --border-color: #EDEDED;

  --nav-button-BG: var(--mainColor);
  --nav-button-selectedBG: #013767;
  --nav-button-hoverBG: var(--mainHover);
  --nav-button-text: var(--action-button-color);
  --nav-button-selected-text: var(--action-button-color);

  --table-header-color: black;
  --table-header-bg: #EDF3F9;
  --TableRow: white;
  --TableRowContent: #000;
  --TableRowHover: rgba(176, 216, 236, 0.356);
  --TableRowSelected: rgba(176, 216, 236, 0.356);
}


* {
  font-family: Assistant;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.multiline {
  word-break: break-all;
  white-space: pre-line;
}

.edit_multiline {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.thin_border {
  border: 1px solid #F00;
}

.thick_border {
  border: 2px solid #F00;
}

.hidden_border {
  border-style: hidden;
}

.emboss_border {
  border: 1px solid;
}

.threed_border {
  border-style: outset;
}

.threedsunken_border {
  border-style: inset;
}

.twod_border {
  border: 2px solid;
}

.windows_border {
  border: 2px solid;
}

.tab_control {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab_button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tab_button_active {
  background-color: #ccc;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tab_button:hover {
  background-color: #ddd;
}

.tab_content {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-left: none;
  border-right: none;
  clear: both;
}

/* style for input on table*/
.InputPropsForRowEditing {
  text-decoration: underline;
}

.button_image_background_size {
  background-size: 100% 100%;
}

.lable_overflow {
  overflow: hidden;
}

.table_scrollBar {
  height: 600px;
  overflow-y: scroll;
}

.container_border {
  border: lightskyblue solid 1px;
}

.selected {
  background: #F5F5F5 !important;
}

.table_row:hover {
  background-color: #EEEEEE;
}

/* remark : we decided to give the end user the normal list box without you update the behavior*/
/*for material list box control*/
/*hide the check box*/
/*mat-list-option mat-pseudo-checkbox.mat-pseudo-checkbox{*/
/*display: none;*/
/*}*/
/*!*for material list box control*!*/
/*!* for selected item that is true the style will be by following *!*/
/*mat-list-option[aria-selected = "true"]*/
/*{*/
/*background-color: blue;*/
/*}*/







/* Custom styling */

.action-button {
  border-radius: 0.5vw !important;
  background: var(--action-button-bg);
  color: var(--action-button-color);
  border: 2px solid transparent;
  height: 4vh;
  padding: 0.2vh 0.5vw;
  font-weight: 500;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2vw;

  transition: background 0.2s ease;
}

.action-button:hover {
  cursor: pointer;
  color: var(--action-button-bg);
  background: var(--action-button-color);
  border: 2px solid var(--action-button-bg);
}

.action-button:disabled {
  color: var(--disabled-action-button-color) !important;
  background-color: var(--disabled-action-button-bg) !important;
  border: 0;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  margin-top: 0vh !important;
  padding-bottom: 3vh !important;
  align-items: center;
  min-height: 3vh !important;
  max-height: 3vh !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix:has(textarea) {
  max-height: fit-content !important;
}

.mdc-notched-outline__notch>label:not(.mdc-floating-label--float-above) {
  padding-bottom: 1.3vh !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 2vvh !important;
}

mgerror {
  position: relative;
  top: 0.5vh;
  color: red !important;
  font-size: 0.5vw;
}

.searchbox-container {
  position: relative;
  display: flex;
  align-self: center;
  padding: 0.5vh 0.3vw;
}

.searchbox-container>svg {
  position: absolute;
  align-self: center;
  left: 1vw;
  color: #646464;
  font-size: 1vw;
}

.searchbox-container>input {
  height: 4vh;
  width: 13vw;
  border: 1px solid #646464;
  border-radius: 2vw;
  background-color: #F9F9F9;
  padding-left: 2vw;
  font-weight: 500;
  font-size: 0.8vw;

  transition: background ease 0.5s;
}

.searchbox-container>input:focus {
  border: 0.5px solid black;
  outline: none;
  background-color: #FFFFFF !important;
}

.searchbox-container>input:hover {
  background-color: #F1F1F1;
}

.table-header-button {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  justify-self: flex-end !important;
  align-self: center !important;

  color: var(--action-button-color) !important;
  background-color: var(--mainColor);
  gap: 0 0.2vw;
  border-radius: 0.5vw !important;
  border: 2px solid transparent;
  font-size: 1vw;

  outline: none !important;
  cursor: pointer;
  margin: 0;
  transition: all ease 0.3s;
  padding: 0.2vh 0.6vw;
}

.table-header-button:hover {
  cursor: pointer;
  color: var(--action-button-bg) !important;
  background: var(--action-button-color);
  border: 2px solid var(--action-button-bg);
}

.table-header-button:active,
.table-header-button:focus {
  outline: none !important;
}

.header-button-label {
  display: flex;
  align-items: center;
  font-size: 0.8vw;
  align-self: center;
  text-align: center !important;
  height: 3vh;
}

.header-button-label:hover {
  cursor: pointer;
}

.table-wrapper {
  border-radius: var(--table-border-radius);
  border: 1px solid var(--border-color);
  margin-top: 1vh;
}

.twenty-rows>mat-table {
  height: 60vh;
}

mat-table {
  height: 50vh;
  border-radius: var(--table-border-radius);
}

.ten-rows>mat-table {
  height: 40vh;
}

mat-header-row {
  background-color: inherit !important;
  font-size: 0.8vw !important;
  height: 4vh !important;
  min-height: 4vh !important;
  color: var(--table-header-color);
  border-radius: var(--table-border-radius) var(--table-border-radius) 0 0;
}

mat-header-cell {
  font-size: 0.8vw !important;
  font-weight: bold !important;
  text-align: left !important;
  direction: ltr !important;


  background-color: var(--table-header-bg) !important;
  height: 3.9vh !important;
  min-height: 3.9vh !important;

  padding: 0 !important;
  text-wrap: nowrap;
}

mat-header-row .mat-mdc-header-cell:first-child,
mat-header-cell:first-child {
  border-radius: var(--table-border-radius) 0 0 0;
}

mat-header-cell:last-child {
  border-radius: 0 var(--table-border-radius) 0 0;
}

mat-row {
  font-size: 0.8vw !important;
  height: 3vh !important;
  min-height: 3vh !important;
}

mat-cell {
  font-size: 0.8vw !important;
  color: black !important;
  height: 3vh !important;
  white-space: nowrap !important;
  padding: 0 !important;
  border-bottom: 0.7px solid var(--border-color) !important;
}

/* Add padding to the first header cell and column cell to space from border */
mat-header-row .mat-mdc-header-cell:first-child,
mat-row .mat-mdc-cell:first-child {
  padding-left: 5px !important;
}


mat-header-cell:first-child {
  border-left: 0.7px solid var(--border-color) !important;
  border-radius: var(--table-border-radius) 0 0 0;
}

mat-cell:first-child {
  border-left: 0.7px solid var(--border-color) !important;
}

mat-cell:last-child {
  border-right: 0.7px solid var(--border-color) !important;
}

.cBtn {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  gap: 0.5vw;
}

.cBtn>* {
  visibility: hidden;
}

mat-row:hover>.cBtn>* {
  visibility: visible;
}

mat-row.selected>.cBtn>* {
  visibility: visible;
}

mat-row:hover {
  background-color: var(--TableRowHover) !important;
}

mat-row.selected {
  background-color: var(--TableRowSelected) !important;
}

.tbl_btn {
  border-color: transparent;
  color: var(--mainColor);
  padding: 0;
  background: transparent;
  font-size: 0.9vw;
}

.tbl_btn:hover {
  color: var(--mainHover);
  cursor: pointer;
}

.tbl_btn:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.mat-mdc-paginator-range-label {
  direction: ltr !important;
}

mat-paginator {
  min-height: 5vh !important;
  max-height: 5vh !important;
  position: relative;
  border-top: 0.7px solid var(--border-color);
  border-radius: 0 0 var(--table-border-radius) var(--table-border-radius);
}

.mat-mdc-paginator {
  border-radius: 0 0 var(--table-border-radius) var(--table-border-radius);
}

.mat-mdc-paginator-outer-container {
  border-radius: 0 0 var(--table-border-radius) var(--table-border-radius);
}

.overlay-bar {
  background-color: var(--overlaybar-bg);
  width: 100%;
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.8vw 0.8vw 0 0;
  font-size: 0.85vw;
  font-weight: 700;
  border: 0;
  color: #fff;
}

.modal-foreground {
  border-radius: 1vw;
}

.modal-background {
  opacity: 0.2 !important;
}

.row {
  --bs-gutter-x: 0;
}

.modal-foreground .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0.5vh;
  overflow: hidden !important;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  background-color: var(--checkbox-bg) !important;
  border-color: var(--checkbox-bg) !important;
}

.mat-checkbox-ripple .mat-ripple-element,
.mdc-checkbox__ripple {
  background-color: var(--checkbox-bg) !important;
}

.mat-checkbox-label {
  color: black !important;
  font-size: 0.75vw !important;
  margin-left: 0.1cm;
}

.cActions {
  display: flex;
  justify-content: center;
  padding: 0 1vw;
}


.page-title {
  font-weight: 700;
  font-size: 1.25vw;
  text-align: left;
  margin-left: 0.3vw;

  color: var(--page-title);
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 8vw;
  height: 4vh;

  background: var(--nav-button-BG);
  border-radius: 0.4vw;
  border: 0;
  margin: 0.5vh 0.2vw;

  color: var(--nav-button-text);
  font-weight: 400;
  font-size: 0.8vw;

  transition: background ease 0.2s;
}

.nav-button:hover {
  background-color: var(--nav-button-hoverBG);
}

.selected-button {
  background-color: var(--nav-button-selectedBG) !important;
  color: var(--nav-button-selected-text) !important;
}

textarea {
  resize: none !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 2), auto);
  gap: 1vh 1vw;
}

.LookUpDiv {
  position: relative;
  display: block;
  width: 20%;
}

.LookUpSpan {
  position: absolute;
  right: 0;
  top: 25%;
  border: none;
  background: transparent;
  color: var(--icons-color);
  outline: none !important;
  cursor: pointer;
  padding: 0 !important;
  line-height: normal !important;
}


.LookUpSpan:hover {
  color: var(--icons-hover);
}

.always-bottom {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0.5vw;
}

.Answer {
  border: 1px solid var(--border-color);
  border-radius: var(--table-border-radius);
  padding: 1vh 1vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 70vh;
}

.GenAi {
  fill: #FFF;
}

.GenAi:hover {
  fill: var(--action-button-bg) !important;
}

.DetailsPane {
  height: 23.5vh;
}